//ヘッダー,ナビゲーション,フッター,メニュータイトル
@use '../var';

body {
    font-family:"Hiragino Kaku Gothic ProN", "Helvetica Neue", Arial, "Hiragino Sans", "Meiryo", sans-serif;
}

/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/

#splash {
    /*fixedで全面に固定*/
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
    background: var.$theme-color;
	text-align:center;
	color:#333333;
}

/* Loadingバー中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
    z-index: 999;
	width: 100%;
	transform: translate(-50%, -50%);
	color: #333333;
}

.header{
    position:fixed;
    background-color: var.$theme-color;
    // background-color:rgba(255,255,255,0.95);
    width: 100%;
    height:var.$spacing-7;
    padding: var.$spacing-2 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition:all 0.3s ease-in-out;
    z-index: 1;
    @media screen and (max-width:1000px) {
        padding: var.$spacing-2 var.$spacing-7;
    }
    &__logo{
        img{
            width: var.$spacing-6;
            height:var.$spacing-6;
        }
    }
    &__menu{
        font-family: "Inria Serif";
        color:#333333;
        ul{
            display: flex;
            flex-direction: row;
            li{
                font-size: var.$fontsize-M;
            }
            li+li{
                margin-left: 2.75vw;
            }
        }
    }
    &__hamburger-menu{
        display: none;
    }
}

.navigation{    
    visibility: hidden;
    position:fixed;
    top: 0;
    left:0;
    z-index: 10;
    width: 100vw;
    height:100vh;
    background-color: aliceblue;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s;
    .nav-menu{
        padding: var.$spacing-7 var.$spacing-4;
        a{
            display: inline-block;
            width: fit-content;
        }
        h2{
            font-size: 40px;
            font-family: "Inria Serif";
            width: fit-content;
        }
        p{
            width: fit-content;
        }
        li+li{
            margin-top: var.$spacing-4;
        }
    }

}

.background{
    z-index: -1;
    content:"";
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var.$theme-color;

    .background-image{
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-image: url("../media/background_blue.png");
        background-blend-mode:lighten;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.title{
    text-align: center;
    p{
        font-size: var.$fontsize-S;
        font-weight: bold;
    }
    h2{
        font-size: var.$fontsize-L;
        padding-bottom: var.$spacing-1;
        font-family: "Inria Serif";
    }
    div{
        height:2px;
        width:var.$spacing-6;
        background-color: #333333;
        margin: 0 auto;
    }
}

.footer{
    border-top: 1px solid #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__menu{
        width: 50vw;
        margin: 8px auto;
        font-size: var.$fontsize-S;
        ul{
            display: flex;
            flex-direction: row;
            justify-content:center;
            li{
                margin: 0 var.$spacing-2;
            }
        }
    }
    &__copyright{
        width: 100%;
        height: var.$spacing-4;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333;
        small{
            color: #ffffff;
            margin: 0 auto;
        }
    }
}


@media screen and (max-width: 767px){
    .header{
        padding: var.$spacing-2 var.$spacing-4;
        &__menu{
            display: none;
        }
        &__hamburger-menu{
            display: flex;
            z-index:20;
            flex-direction: column;
            justify-content: center;
            align-items:end;
            width: var.$spacing-6;
            height: var.$spacing-6;
            border: 1.5px solid #333333;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &__line{
                height: 1px;
                width: 30px;
                background-color: #333333;
                margin: 4px 10px;
                transition: all 0.3s;
                transform-origin: right;
            }
            & > :nth-child(1){
                width: 20px;
            }
            & > :nth-child(2){
                width: 30px;
            }
            & > :nth-child(3){
                width: 40px;
            }
            
            //ボタンクリック時
            & > :nth-child(1).active{
                transform:rotate(-20deg) translate(-3px,1px);
                width: 40px;
            }
            & > :nth-child(2).active{
                width: 0;
            }
            & > :nth-child(3).active{
                transform:rotate(20deg) translate(-3px,-1px);
            }
        }
        &__hamburger-menu:hover{
            width:68px;
            height:68px;
            transform: translateX(3px);
        }
    }
    .navigation.active{
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s ease, transform 0.5s ease ;
    }

    .footer{
        &__menu{
            width: 80vw;
            margin: 8px auto;
            ul{
                display: flex;
                flex-direction: row;
                font-size: var.$fontsize-SS;
                li{
                    margin: 0 var.$spacing-1;
                }
            }
        }
        &__copyright{
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: #333333;
            small{
                color: #ffffff;
                margin: 0 auto;
            }
        }
    }
}