// spacing
$spacing-0: 0;
$spacing-half: 4px;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 48px;
$spacing-6: 64px;
$spacing-7: 96px;
$spacing-8: 128px;
$spacing-9: 192px;
$spacing-10: 256px;

//font-size
$fontsize-SS:12px;
$fontsize-S:16px;
$fontsize-M:24px;
$fontsize-L:36px;

//color
$theme-color:rgb(214, 231, 239);