@use '../var';

.main{
    background-color: rgb(118, 220, 250);
}
.about-child{
    max-width: 1280px;
    margin:0 auto var.$spacing-7;
    padding-top: 192px;
    &__about{
        margin-bottom: var.$spacing-8;
    }
}

.aboutchild-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__profile-image{
        width: 30%;
        margin: var.$spacing-1;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__introduction{
        width: 70%;
        margin: var.$spacing-3;
        line-height: 1.8rem;
        p{
            margin: var.$spacing-3 auto;
        }
        .sns-contact{
            a{
                text-decoration: underline;
            }
        }
    }
}

.career-detail{
    .sp{
        display:none;
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: var.$spacing-5 var.$spacing-4;
    &__sp{
        display:none;
    }
}

.business{
    width: 50%;
    &__title{
        font-size: var.$fontsize-M;
        font-family: "Inria Serif";
        margin-bottom: var.$spacing-4;
        font-weight: bold;
    }
    &__contents{
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        p:nth-child(2){
            font-size: var.$fontsize-SS;
            position: absolute;
            top:-10px;
            right:-5px;    
        }
        &--join-company{
            margin-top: var.$spacing-3;
        }
        &--freelance{
            margin-top: var.$spacing-3;
        }
        &__description{
            margin: var.$spacing-1 var.$spacing-2 0px;
            line-height: 1.3rem;
            text-align-last: left;
            width: fit-content;
        }
        &--circle{
            content: '';
            width: var.$spacing-2;
            height: var.$spacing-2;
            background-color: #333333;
            border-radius: 50%;
            position: absolute;
            top:0;
            right:-22px;
        }
    }

    &__contents::after{
        position: absolute;
        top:7px;
        right:-15px;
        display: block;
        content:"";
        width: 80px;
        height: 2px;
        background-color: #333333;
    }

}


.career-line{
    width: 30px;
    transform: translateY(var.$spacing-4);
    &__line{
        position: relative;
        width: 2px;
        height: 400px;
        margin:0 auto;
        background-color: #333333;    
    }
}

.private{
    width: 50%;
    &__title{
        font-size: var.$fontsize-M;
        font-family: "Inria Serif";
        margin-bottom: var.$spacing-4;
        font-weight: bold;
    }
    &__contents{
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        p:nth-child(2){
            font-size: var.$fontsize-SS;
            position: absolute;
            top:-10px;
            left:-5px;    
        }
        &--reading{
            margin-top: 120px;
        }
        &--presentation{
            margin-top: var.$spacing-5;
            p:nth-child(1){
                transform: translateX(5px);
            }
        }
        &__description{
            margin: var.$spacing-1 auto 0px;
            line-height: 1.3rem;
            text-align-last: left;
            width: fit-content;
        }
        &--circle{
            content: '';
            width: var.$spacing-2;
            height: var.$spacing-2;
            background-color: #333333;
            border-radius: 50%;
            position: absolute;
            top:0;
            left:-21px;
        }
    }
    &__contents::before{
        position: absolute;
        top:5px;
        left:-15px;
        display: block;
        content:"";
        width: 80px;
        height: 2px;
        background-color: #333333;
    }
}

@media screen and (max-width: 950px) {
    .about-child{
        .sp{
            display:block;
        }
    }
}

@media screen and (max-width: 767px){

    .aboutchild-detail{
        .sp{
            display:none;
        }
        flex-direction: column-reverse;
        align-items: center;
        &__profile-image{
            width: 50%;
            margin: var.$spacing-1;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .about-child__career{
        position: relative;
    }
    .career-detail{
        &__sp{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width:100%;
        }
    }
    .career-detail > .business,.career-detail > .career-line,.career-detail > .private{
        display:none;
    }

    .business-private{
        position: relative;
        width: 100%;
        &__title{
            text-align: center;
            font-size: var.$fontsize-M;
            font-family: "Inria Serif";
            margin-bottom: var.$spacing-4;
            font-weight: bold;
        }
        &__contents{
            position: relative;
            text-align: center;
            transform:translateX(25px);
            p:nth-child(1){
                width: 60%;
                transform: translateX(100px);
            }

            p:nth-child(2){
                font-size: var.$fontsize-SS;
                position: absolute;
                top:-10px;
                left:24px;    
            }
            &--join-company{
                margin-top: var.$spacing-3;
            }
            &--freelance{
                margin-top: var.$spacing-3;
            }
            &__description{
                margin: var.$spacing-1 auto 0;
                line-height: 1.3rem;
                text-align-last: left;
                width: fit-content;
                transform: translateX(50px);
                }
            &--reading{
                margin-top: var.$spacing-3;
            }
            &--presentation{
                margin-top: var.$spacing-3;
                a{
                    text-decoration: underline;
                }
            }
            &--circle{
                content: '';
                width: var.$spacing-2;
                height: var.$spacing-2;
                background-color: #333333;
                border-radius: 50%;
                position: absolute;
                top:0;
                left:var.$spacing-1;
            }
        }
        &__contents::before{
            position: absolute;
            top:7px;
            left:20px;
            display: block;
            content:"";
            width: 70px;
            height: 2px;
            background-color: #333333;
        }
        &__sp{
            display:none;
        }
    }

    .business-private::before{
        content: '';
        position: absolute;
        top:30px;
        left:40px;
        width: 2px;
        height: 650px;
        background-color: #333333;    
    }
}
    
@media screen and (max-width: 470px){
    .about-child__career{
        .sp{
            display:inline;
        }
    }
    .business-private{
        &__sp{
            display:inline;
        }
        &__contents{
            &__description{
                font-size: 14px;
            }
        }
    }
}