@use '../var';

.contact{
    max-width: 1280px;
    margin:0 auto var.$spacing-7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__contents{
        max-width: 1224px;
        margin: var.$spacing-6 var.$spacing-3 0;
    }
}

.progress-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: var.$spacing-5;
    &__step{
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        div{
            width: var.$spacing-3;
            height: var.$spacing-3;
            line-height: var.$spacing-3;
            background-color: #9b9b9b;
            color:#ffffff;
            text-align: center;
            border-radius: 50%;
        }
        p{
            margin-top: var.$spacing-half;
            color:#9b9b9b;
            text-align: center;
        }
        &--first::after{
            content:"";
            background-color: #9b9b9b;
            height:1px;
            width: 48%;
            position:absolute;
            top:12px;
            right:0;
            z-index:-1;
        }
        &--second::before{
            content:"";
            background-color: #9b9b9b;
            height:1px;
            width: 50%;
            position:absolute;
            top:12px;
            left:0;
            z-index:-1;
        }
        &--second::after{
            content:"";
            background-color: #9b9b9b;
            height:1px;
            width: 50%;
            position:absolute;
            top:12px;
            right:0;
            z-index:-1;
        }

        &--third::before{
            content:"";
            background-color: #9b9b9b;
            height:1px;
            width: 50%;
            position:absolute;
            top:12px;
            left:0;
        }
    }
    &__step.active{
        div{
            background-color: #333333;
        }
        p{
            color:#333333;
        }
    }
}

.form{
    line-height: 1.5rem;
    font-size:var.$fontsize-S;
    /*テーブルを親要素の幅いっぱいに伸ばす*/
    .table-res-form {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        input[type="text"], input[type="email"], textarea {
            border: 1px solid #9b9b9b;
            padding: 0.5em;
            border-radius: 5px;
            width: 100%;
        }
        input[type="text"]:focus, textarea:focus {
            background: rgb(232, 246, 252);
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
        }

        th{
            width: 30%;
            text-align: left;
            font-weight: normal;
        }
        td{
            padding-bottom: 1em;
        }
        input[type="submit"] {
            text-align: center;
            border: 2px solid #9b9b9b;
            border-radius: 5px;
            background-color: #d9d9d9;
            color: #333333;
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 auto;
            width: var.$spacing-8;
            transition:all 0.5s;
            line-height: 3rem;
        }       
        input[type="submit"]:hover{
            border: 2px solid #333333;
        }
        .btn{
            td{
                width: 100%;
            }
            input{
                margin-top:var.$spacing-2;
            }
        }

    }
    .confirm{
        input[type=checkbox] {
            width: 20px;
            height: 20px;
            background-color: #fff;
            border: 1px solid #333333;
            appearance: auto;
        }
        span{
            margin-left: 0;
        }
    }
}

.thanks_page{
    display:none;
}


@media only screen and (max-width: 767px) {
    /*thとtdをブロック化して幅100％にして、縦積み*/
    .form{
        .table-res-form{
            th,td {
                width: 100%;
                display: block;
            }
            th{
                padding:var.$spacing-1 0 var.$spacing-1;
                text-align: left;
            }
            td{
                padding:0;
            }
        }
    }
}