@use '../var';

.service{
    max-width: 1280px;
    margin:0 auto var.$spacing-8;
    position: relative;
}

.service-plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:var.$spacing-6;
    &__price{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
    &__supplement{
        margin: var.$spacing-2 var.$spacing-5;
        text-align: center;
        a{
            font-weight: bold;
            text-decoration: underline;
        }
    }
}

.price-detail{
    margin:0 var.$spacing-2;
    &__price{
        text-align: center;
        margin-bottom: var.$spacing-4;
        p{
            font-size: var.$fontsize-S;
            font-weight: bold;
        }
        h3{
            margin-top: var.$spacing-1;
            font-size: var.$fontsize_M;
            font-weight: bold;
        }
    }
    &__description{
        text-align: left;
        margin-bottom: var.$spacing-4;
        line-height: 1.5rem;
    }
    &__quantity{
        text-align: center;
        margin-bottom: var.$spacing-4;
        line-height: 1.5rem;
    }
    &__reference-site{
        text-align: center;
        margin-bottom: var.$spacing-4;
        p{
            margin-bottom: var.$spacing-1;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li{
                margin:0 var.$spacing-1;
                max-width: 88px;
            }
            .site-image{
                margin:0 auto;
                max-width:100%;
            }

            .site-image--expanded{
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top:40%;
                left:50%;
                transition:all 0.2s ease;
                transform:translate(-50%,-50%) scale(0.3);
                z-index:10;
            }
        }
    }

}

@media screen and (max-width: 767px){
    .service-plan{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top:var.$spacing-6;
        &__price{
            display: flex;
            flex-direction: column;
            justify-content:space-around;
        }
    }
    .price-detail{
        margin:var.$spacing-5 var.$spacing-2;
        line-height: 1.5rem;    
        &__price{
            margin-bottom: var.$spacing-2;
        }    
        &__description{
            text-align: left;
            margin:0 var.$spacing-5 var.$spacing-2;
        }
        .sp{
            display:none;
        }
        &__reference-site{
            margin:0 auto;

            ul{
                li{
                    margin:0 var.$spacing-4;
                    max-width: none;
                }
                .site-image{
                    max-width:100%;
                    &--left{
                        transform-origin: center center;
                    }
                }
                .site-image--expanded{
                    display: none;
                }
            }
        }
    
    }
}