@use '../var';

.works{
    max-width: 1280px;
    margin:0 auto var.$spacing-8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__contents{
        max-width: 1224px;
        margin: var.$spacing-6 var.$spacing-3 var.$spacing-5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: var.$spacing-5;
        row-gap: var.$spacing-4;        
    }
}

.works-panel{
    max-width: 360px;
    max-height: 440px;
    position: relative;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition:all 0.5s;
    &__image{
        img{
            max-width: 100%;
        }
    }
    &__plan{
        position: absolute;
        top:0;
        right: 0;
        width: 152px;
        height: 40px;
        line-height: 40px;
        background-color: red;
        font-size: var.$fontsize-S;
        color:#ffffff;
    }
    &__title{
        margin-top: var.$spacing-3;
    }
    &__type{
        margin-top: var.$spacing-3;

    }
    &__description{
        text-align: left;
        margin:var.$spacing-3 var.$spacing-1 var.$spacing-3;
    }
}

.view-more{
    text-align: center;

    p{
        font-size: var.$fontsize-M;
        font-weight: bold;
        font-family: "Inria Serif";
    }
    a{
        position: relative;
    }
    a::after {
        content: '';
        position: absolute;
        bottom: -3px;
        left: 10%;
        width: 80%;
        height: 2px;
        background:#333333;
        transition: all .3s;
        transform: scale(0, 1);
        transform-origin: center top;
    }
    
    a:hover::after {
        transform: scale(1, 1);
    }

}


@media screen and (max-width: 767px){
    .works{
        &__contents{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            column-gap: var.$spacing-5;
            row-gap: var.$spacing-4;        
        }
    }
    .works-panel{
        &__plan{
            width: 120px;
            font-size: var.$fontsize-SS;
        }
    }
    .view-more{
        a::after {
            transform: scale(1, 1);
        }
    }

}

@media screen and (max-width: 428px){
    .works{
        &__contents{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            column-gap: var.$spacing-5;
            row-gap: var.$spacing-4;        
        }
    }
    .works-panel{
        max-width:100%;
        max-height: 100%;
        position: relative;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        &__image{
            img{
                width:100%;
            }
        }
    }
}

